<!-- <footer class="page-footer font-small bg-light mt-3 pt-2 pb-2">
  <div class="container-fluid">
    <div class="text-center">
      Made by Lucida-Amnennar - V.1.2.0
    </div>
    <span class="text-right float-right">
      <a
        href="mailto:pyroptere@gmail.com?subject = Feedback about Healing potential app"
      >
        Send Feedback
      </a>
    </span>
  </div>

  <div class="container-fluid text-md-right"></div>
</footer> -->

<footer class="page-footer font-small bg-light mt-3">
  <div class="container-fluid footer">
    <div class="spacer"></div>
    <div class="container d-flex justify-content-between py-1">
      <h5 class="my-auto">Made by Lucida-Amnennar</h5>
      <ul class="nav flex-column flex-sm-row">
        <li
          class="nav-item"
          placement="top"
          ngbTooltip="Contribute to the project on github"
          tooltipClass="custom-tooltip top-left-tooltip"
        >
          <a
            class="nav-link"
            href="https://github.com/TimotheeEmery/healing-potential"
          >
            <i class="fab fa-github-square fa-3x"></i>
          </a>
        </li>
        <li
          class="nav-item"
          placement="top"
          ngbTooltip="Send mail Feedback"
          tooltipClass="custom-tooltip top-left-tooltip"
        >
          <a
            class="nav-link"
            href="mailto:pyroptere@gmail.com?subject = Feedback about Healing potential app"
          >
            <i class="fas fa-envelope-square fa-3x"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            placement="top"
            ngbTooltip="Discuss it on Discord"
            tooltipClass="custom-tooltip top-left-tooltip"
            href="https://discord.gg/9GnMqGT"
          >
            <i class="fab fa-discord fa-3x"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="spacer"></div>
  </div>
</footer>
