<div class="container-fluid shaman">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card p-2">
        <app-shaman-calculation
          [time]="120"
          [maxMana]="8000"
          [id]="'col1'"
        ></app-shaman-calculation>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card p-2">
        <app-shaman-calculation
          [time]="210"
          [maxMana]="9000"
          [id]="'col2'"
        ></app-shaman-calculation>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card p-2">
        <app-shaman-calculation
          [time]="300"
          [maxMana]="10000"
          [id]="'col3'"
        ></app-shaman-calculation>
      </div>
    </div>
  </div>
</div>
