<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card p-5">
        <app-shaman-calculation
          [id]="'col1'"
          [time]="120"
        ></app-shaman-calculation>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card p-5">
        <app-shaman-calculation
          [id]="'col2'"
          [time]="210"
        ></app-shaman-calculation>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card p-5">
        <app-shaman-calculation
          [id]="'col3'"
          [time]="300"
        ></app-shaman-calculation>
      </div>
    </div>
  </div>
</div>
