<div class="container-fluid">
  <div class="row">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mt-3">
      <div class="card p-3">
        <app-shaman-calculation
          [id]="'col1'"
          [time]="120"
        ></app-shaman-calculation>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mt-3">
      <div class="card p-3">
        <app-shaman-calculation
          [id]="'col2'"
          [time]="210"
        ></app-shaman-calculation>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mt-3">
      <div class="card p-3">
        <app-shaman-calculation
          [id]="'col3'"
          [time]="300"
        ></app-shaman-calculation>
      </div>
    </div>
  </div>
</div>
