@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-color: rgba(200, 200, 200);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-tooltip .tooltip-inner {
  white-space: pre-wrap;
  margin-left: 75px;
  margin-right: -75px;
}
