<h5>Variables:</h5>
<div class="row mb-3 d-flex h-100">
  <div class="col align-self-center">
    <label>Fight duration:</label>
  </div>
  <div class="col">
    <div class="input-group">
      <input
        class="form-control"
        appNumbersOnly
        [(ngModel)]="time"
        type="text"
        maxlength="3"
        placeholder="Enter Time"
      />
      <div class="input-group-append">
        <span class="input-group-text">sec</span>
      </div>
    </div>
  </div>
</div>
<div class="row mb-3 d-flex h-100">
  <div class="col align-self-center">
    <label>Maximum mana:</label>
  </div>
  <div class="col">
    <div class="input-group">
      <input
        class="form-control"
        [ngClass]="{ 'just-changed-by-apply-control': manaModified }"
        appNumbersOnly
        [ngModel]="profile.maxMana | number: '1.0-0' | remover: ','"
        (ngModelChange)="profile.maxMana = $event"
        type="text"
        maxlength="5"
        placeholder="Enter Mana"
      />
    </div>
  </div>
</div>
<div class="row mb-3 d-flex h-100">
  <div class="col align-self-center">
    <label>Mp5:</label>
  </div>
  <div class="col">
    <div class="input-group">
      <input
        class="form-control"
        [ngClass]="{ 'just-changed-by-apply-control': mp5Modified }"
        appNumbersOnly
        [(ngModel)]="profile.mp5"
        type="text"
        maxlength="3"
        placeholder="Enter Mp5"
      />
    </div>
  </div>
</div>
<div class="row mb-3 d-flex h-100">
  <div class="col align-self-center">
    <label>Heal bonus:</label>
  </div>
  <div class="col">
    <div class="input-group">
      <input
        class="form-control"
        [ngClass]="{ 'just-changed-by-apply-control': healBonusModified }"
        appNumbersOnly
        [(ngModel)]="profile.healBonus"
        type="text"
        maxlength="4"
        placeholder="Enter Heal bonus"
      />
    </div>
  </div>
</div>
<div class="row mb-3 d-flex h-100">
  <div class="col align-self-center">
    <label class="align-center">
      <i
        class="fa fa-question-circle"
        placement="top"
        [ngbTooltip]="criticalRateVariableTooltip"
        tooltipClass="custom-tooltip top-right-tooltip"
      ></i>
      Critical rate:</label
    >
  </div>
  <div class="col">
    <div class="input-group">
      <input
        appDecimalNumbersOnly
        type="text"
        class="form-control"
        [ngClass]="{ 'just-changed-by-apply-control': criticalRateModified }"
        [ngModel]="profile.criticalRate | number: '1.0-2' | remover: ','"
        (ngModelChange)="profile.criticalRate = $event"
        maxlength="5"
        placeholder="Enter Critical chance"
      />
      <div class="input-group-append">
        <span class="input-group-text">%</span>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row mb-3 d-flex h-100">
  <div class="col align-self-center">
    <div class="input-group">
      <div class="input-group-prepend light-green-bg">
        <button
          placement="top"
          [ngbTooltip]="applyIntelTooltip"
          tooltipClass="custom-tooltip top-right-tooltip"
          [openDelay]="300"
          class="btn btn-success"
          type="button"
          (click)="addIntel()"
        >
          Apply Intel:
        </button>
      </div>
      <input
        appNumbersOnly
        [(ngModel)]="addIntelNumber"
        type="text"
        class="form-control"
        maxlength="3"
        placeholder="Intel to add"
      />
    </div>
  </div>
</div>
<hr />
<h5>
  <i
    class="fa fa-question-circle"
    placement="top"
    [ngbTooltip]="profileTooltip"
    tooltipClass="custom-tooltip top-right-tooltip"
  ></i>
  Apply profile:
</h5>
<div class="row">
  <div class="col">
    <button
      placement="top"
      [ngbTooltip]="t0Tooltip"
      tooltipClass="custom-tooltip top-right-tooltip"
      [openDelay]="300"
      class="btn btn-success mr-1"
      (click)="applyProfile(t0Profile)"
    >
      T0
    </button>
    <button
      placement="top"
      [ngbTooltip]="t1Tooltip"
      tooltipClass="custom-tooltip top-right-tooltip"
      [openDelay]="300"
      class="btn btn-success mr-1"
      (click)="applyProfile(t1Profile)"
    >
      T1
    </button>
    <button
      placement="top"
      [ngbTooltip]="t2Tooltip"
      tooltipClass="custom-tooltip top-right-tooltip"
      [openDelay]="300"
      class="btn btn-success mr-1"
      (click)="applyProfile(t2Profile)"
    >
      T2
    </button>
  </div>
</div>
<hr />
<h5>
  <i
    class="fa fa-question-circle"
    placement="top"
    [ngbTooltip]="modifierTooltip"
    tooltipClass="custom-tooltip top-right-tooltip"
  ></i>
  Modifiers:
</h5>

<div class="custom-control custom-checkbox">
  <input
    class="custom-control-input"
    type="checkbox"
    [id]="id + '-arcane'"
    [(ngModel)]="arcaneIntellect"
  />
  <label class="custom-control-label" [for]="id + '-arcane'">
    Arcane Intellect
  </label>
  <a
    class="ml-1"
    href="
  https://classic.wowhead.com/spell=10157/arcane-intellect"
    target="_blank"
    rel="noopener noreferrer"
    data-wowhead="buff"
  >
    <i class="fas fa-external-link-alt fa-sm"></i>
  </a>
</div>

<span class="custom-control custom-checkbox" style="display: inline-block;">
  <input
    class="custom-control-input"
    type="checkbox"
    [id]="id + '-mark'"
    [ngModel]="markOfTheWild"
    (ngModelChange)="changeMark($event)"
  />
  <span class="custom-control-indicator"></span>
  <label class="custom-control-label" [for]="id + '-mark'">
    Mark of the Wild
  </label>
  <a
    class="ml-1"
    href="https://classic.wowhead.com/spell=9885/mark-of-the-wild"
    target="_blank"
    rel="noopener noreferrer"
    data-wowhead="buff"
  >
    <i class="fas fa-external-link-alt fa-sm"></i>
  </a>
</span>

<span *ngIf="markOfTheWild">
  <span class="mx-1">-</span>
  <span class="custom-control custom-checkbox" style="display: inline-block;">
    <input
      class="custom-control-input"
      type="checkbox"
      [id]="id + '-improved-mark'"
      [(ngModel)]="improvedMarkOfTheWild"
    />
    <label class="custom-control-label" [for]="id + '-improved-mark'">
      Improved
    </label>
    <a
      class="ml-1"
      href="https://classic.wowhead.com/spell=17055/improved-mark-of-the-wild"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fas fa-external-link-alt fa-sm"></i>
    </a>
  </span>
</span>

<span class="custom-control custom-checkbox">
  <input
    class="custom-control-input"
    type="checkbox"
    [id]="id + '-rallying'"
    [(ngModel)]="rallyingCryDragonslayer"
  />
  <span class="custom-control-indicator"></span>
  <label class="custom-control-label" [for]="id + '-rallying'">
    Rallying Cry of the Dragonslayer
  </label>
  <a
    class="ml-1"
    href="https://classic.wowhead.com/spell=22888/rallying-cry-of-the-dragonslayer"
    target="_blank"
    rel="noopener noreferrer"
    data-wowhead="buff"
  >
    <i class="fas fa-external-link-alt fa-sm"></i>
  </a>
</span>

<div class="row">
  <div class="col-8 my-auto">
    <span class="custom-control custom-checkbox my-auto">
      <input
        class="custom-control-input"
        type="checkbox"
        [id]="id + '-zandalar'"
        [(ngModel)]="spiritOfZandalar"
      />
      <span class="custom-control-indicator"></span>
      <label class="custom-control-label" [for]="id + '-zandalar'">
        Spirit of Zandalar
      </label>
      <a
        class="ml-1"
        href="https://classic.wowhead.com/spell=24425/spirit-of-zandalar"
        target="_blank"
        rel="noopener noreferrer"
        data-wowhead="buff"
      >
        <i class="fas fa-external-link-alt fa-sm"></i>
      </a>
    </span>
  </div>
  <div class="col pr-3 pl-1">
    <ng-container *ngIf="spiritOfZandalar">
      <span class="input-group input-group-sm">
        <input
          class="form-control input-sm"
          [ngClass]="{ 'just-changed-by-apply-control': intelModified }"
          [ngModel]="profile.intelligence | number: '1.0-0' | remover: ','"
          (ngModelChange)="profile.intelligence = $event"
          appNumbersOnly
          type="text"
          maxlength="3"
          placeholder="Enter Intel"
        />
        <div
          class="input-group-append"
          placement="top"
          [ngbTooltip]="zandalarIntelTooltip"
          tooltipClass="custom-tooltip top-left-tooltip"
        >
          <span class="input-group-text">Intel</span>
        </div>
      </span>
    </ng-container>
  </div>
</div>

<span class="custom-control custom-checkbox">
  <input
    class="custom-control-input"
    type="checkbox"
    [id]="id + '-warchiefBlessing'"
    [(ngModel)]="warchiefBlessing"
  />
  <label class="custom-control-label" [for]="id + '-warchiefBlessing'">
    Warchief's Blessing
  </label>
  <a
    class="ml-1"
    href="
      https://classic.wowhead.com/spell=16609/warchiefs-blessing"
    target="_blank"
    rel="noopener noreferrer"
    data-wowhead="buff"
  >
    <i class="fas fa-external-link-alt fa-sm"></i>
  </a>
</span>

<span class="custom-control custom-checkbox">
  <input
    class="custom-control-input"
    type="checkbox"
    [id]="id + '-slipkikSavvy'"
    [(ngModel)]="slipkikSavvy"
    data-wowhead="buff"
  />
  <label class="custom-control-label" [for]="id + '-slipkikSavvy'">
    Slip'kik's Savvy
  </label>
  <a
    class="ml-1"
    href="
      https://classic.wowhead.com/spell=22820/slipkiks-savvy"
    target="_blank"
    rel="noopener noreferrer"
    data-wowhead="buff"
  >
    <i class="fas fa-external-link-alt fa-sm"></i>
  </a>
</span>

<span class="custom-control custom-checkbox">
  <input
    class="custom-control-input"
    type="checkbox"
    [id]="id + '-darkMoonFaire'"
    [(ngModel)]="darkMoonFaire"
  />
  <label class="custom-control-label" [for]="id + '-darkMoonFaire'">
    Dark fortune of intelligence
  </label>
  <a
    class="ml-1"
    href="https://classic.wowhead.com/spell=23766/sayges-dark-fortune-of-intelligence"
    target="_blank"
    rel="noopener noreferrer"
    data-wowhead="buff"
  >
    <i class="fas fa-external-link-alt fa-sm"></i>
  </a>
</span>

<span class="custom-control custom-checkbox">
  <input
    class="custom-control-input"
    type="checkbox"
    [id]="id + '-manaSpringTotem'"
    [(ngModel)]="manaSpringTotem"
  />
  <label class="custom-control-label" [for]="id + '-manaSpringTotem'">
    Using Mana Spring Totem
  </label>
  <a
    class="ml-1"
    href="https://classic.wowhead.com/spell=10497/mana-spring-totem"
    target="_blank"
    rel="noopener noreferrer"
  >
    <i class="fas fa-external-link-alt fa-sm"></i>
  </a>
</span>

<span class="custom-control custom-checkbox">
  <input
    class="custom-control-input"
    type="checkbox"
    [id]="id + '-manaTideTotem'"
    [(ngModel)]="manaTideTotem"
  />
  <label class="custom-control-label" [for]="id + '-manaTideTotem'">
    Mana Tide Totem Up
  </label>
  <a
    class="ml-1"
    href="https://classic.wowhead.com/spell=17359/mana-tide-totem"
    target="_blank"
    rel="noopener noreferrer"
  >
    <i class="fas fa-external-link-alt fa-sm"></i>
  </a>
</span>

<!-- TODO: Add selection logic of potions -->
<span class="custom-control custom-checkbox potion-blue">
  <input
    class="custom-control-input"
    type="checkbox"
    [id]="id + '-greaterManaPotion'"
    [(ngModel)]="greaterManaPotion"
  />
  <label class="custom-control-label" [for]="id + '-greaterManaPotion'">
    Greater Mana Potion
  </label>
  <a
    class="ml-1"
    href="https://classic.wowhead.com/item=6149/greater-mana-potion"
    target="_blank"
    rel="noopener noreferrer"
  >
    <i class="fas fa-external-link-alt fa-sm"></i>
  </a>
</span>

<span class="custom-control custom-checkbox potion-blue">
  <input
    class="custom-control-input"
    type="checkbox"
    [id]="id + '-superiorManaPotion'"
    [(ngModel)]="superiorManaPotion"
  />
  <label class="custom-control-label" [for]="id + '-superiorManaPotion'">
    Superior Mana Potion
  </label>
  <a
    class="ml-1"
    href="https://classic.wowhead.com/item=13443/superior-mana-potion"
    target="_blank"
    rel="noopener noreferrer"
  >
    <i class="fas fa-external-link-alt fa-sm"></i>
  </a>
</span>

<span class="custom-control custom-checkbox potion-blue">
  <input
    class="custom-control-input"
    type="checkbox"
    [id]="id + '-majorManaPotion'"
    [(ngModel)]="majorManaPotion"
  />
  <label class="custom-control-label" [for]="id + '-majorManaPotion'">
    Major Mana Potion
  </label>
  <a
    class="ml-1"
    href="https://classic.wowhead.com/item=13444/major-mana-potion"
    target="_blank"
    rel="noopener noreferrer"
  >
    <i class="fas fa-external-link-alt fa-sm"></i>
  </a>
</span>

<span class="custom-control custom-checkbox">
  <input
    class="custom-control-input"
    type="checkbox"
    [id]="id + '-rune'"
    [(ngModel)]="rune"
  />
  <label class="custom-control-label" [for]="id + '-rune'">
    Dark or Demonic Runes
  </label>
  <a
    class="ml-1"
    href="https://classic.wowhead.com/item=20520/dark-rune"
    target="_blank"
    rel="noopener noreferrer"
  >
    <i class="fas fa-external-link-alt fa-sm"></i>
  </a>
  <a
    class="ml-1"
    href="https://classic.wowhead.com/item=12662/demonic-rune"
    target="_blank"
    rel="noopener noreferrer"
  >
    <i class="fas fa-external-link-alt fa-sm"></i>
  </a>
</span>

<span class="custom-control custom-checkbox">
  <input
    class="custom-control-input"
    type="checkbox"
    [id]="id + '-nightFinSoup'"
    [(ngModel)]="nightFinSoup"
  />
  <label class="custom-control-label" [for]="id + '-nightFinSoup'">
    Night Fin Soup
  </label>
  <a
    class="ml-1"
    href="https://classic.wowhead.com/item=13931/nightfin-soup"
    target="_blank"
    rel="noopener noreferrer"
  >
    <i class="fas fa-external-link-alt fa-sm"></i>
  </a>
</span>

<span class="custom-control custom-checkbox">
  <input
    class="custom-control-input"
    type="checkbox"
    [id]="id + '-mageBloodPotion'"
    [(ngModel)]="mageBloodPotion"
  />
  <label class="custom-control-label" [for]="id + '-mageBloodPotion'">
    Mageblood Potion
  </label>
  <a
    class="ml-1"
    href="https://classic.wowhead.com/item=20007/mageblood-potion"
    target="_blank"
    rel="noopener noreferrer"
  >
    <i class="fas fa-external-link-alt fa-sm"></i>
  </a>
</span>

<span class="custom-control custom-checkbox">
  <input
    class="custom-control-input"
    type="checkbox"
    [id]="id + '-brilliantManaOil'"
    [(ngModel)]="brilliantManaOil"
  />
  <label class="custom-control-label" [for]="id + '-brilliantManaOil'">
    Brilliant Mana Oil
  </label>
  <a
    class="ml-1"
    href="https://classic.wowhead.com/item=20748/brilliant-mana-oil"
    target="_blank"
    rel="noopener noreferrer"
  >
    <i class="fas fa-external-link-alt fa-sm"></i>
  </a>
</span>

<hr />

<div class="row">
  <div class="col">
    <div class="custom-control custom-radio">
      <input
        class="custom-control-input"
        type="radio"
        [id]="id + '-healing-wave'"
        [name]="id + '-spell'"
        value="healing-wave"
        [(ngModel)]="spell"
      />
      <label
        class="custom-control-label green"
        [attr.for]="id + '-healing-wave'"
      >
        Healing wave
      </label>
      <a
        class="ml-1"
        href="https://classic.wowhead.com/spell=25357/healing-wave"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fas fa-external-link-alt fa-sm"></i>
      </a>
    </div>
    <div class="custom-control custom-radio">
      <input
        class="custom-control-input"
        type="radio"
        [id]="id + '-chain-heal'"
        [name]="id + '-spell'"
        value="chain-heal"
        [(ngModel)]="spell"
      />
      <label class="custom-control-label green" [attr.for]="id + '-chain-heal'">
        Chain heal</label
      ><a
        class="ml-1"
        href="https://classic.wowhead.com/spell=10623/chain-heal"
      >
        <i class="fas fa-external-link-alt fa-sm"></i>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col d-flex justify-content-center">
    <button class="btn-lg btn-primary mt-4" (click)="onCompute()">
      Compute score
    </button>
  </div>
</div>
<hr style="border-top: 2px solid;" />
<div class="row">
  <div class="col d-flex justify-content-center">
    <span class="main-result"
      >Healing potential: {{ healingPotential | number: "1.0-0" }}</span
    >
  </div>
</div>
<hr />
<h5>Detailed results:</h5>
<div class="row">
  <div class="col">
    <span
      >Spells that will be used: {{ highIteration }} * Rank
      {{ firstTooHighRank }} and {{ lowIteration }} * Rank
      {{ firstTooHighRank - 1 }}
    </span>
  </div>
</div>
<div class="row">
  <div class="col">
    <i
      class="fa fa-question-circle"
      placement="top"
      [ngbTooltip]="intelValueTooltip"
      tooltipClass="custom-tooltip top-right-tooltip"
    ></i>
    Intel value: {{ intelValue | number: "1.1-2" }}
  </div>
</div>
<div class="row">
  <div class="col">
    <i
      class="fa fa-question-circle"
      placement="top"
      [ngbTooltip]="mp5ValueTooltip"
      tooltipClass="custom-tooltip top-right-tooltip"
    ></i>
    Mp5 value: {{ mp5Value | number: "1.1-2" }}
  </div>
</div>
<div class="row">
  <div class="col">
    <i
      class="fa fa-question-circle"
      placement="top"
      [ngbTooltip]="healBonusValueTooltip"
      tooltipClass="custom-tooltip top-right-tooltip"
    ></i>
    Heal bonus value: {{ healBonusValue | number: "1.1-2" }}
  </div>
</div>
<div class="row">
  <div class="col">
    <i
      class="fa fa-question-circle"
      placement="top"
      [ngbTooltip]="criticalStrikeValueTooltip"
      tooltipClass="custom-tooltip top-right-tooltip"
    ></i>
    Critical strike value: {{ criticalStrikeValue | number: "1.1-2" }}
  </div>
</div>
<div class="row">
  <div class="col">
    <i
      class="fa fa-question-circle"
      placement="top"
      [ngbTooltip]="manaValueTooltip"
      tooltipClass="custom-tooltip top-right-tooltip"
    ></i>
    Mana value: {{ manaValue | number: "1.1-2" }}
  </div>
</div>
<br />
<div class="row">
  <h6 class="col">Relative value:</h6>
</div>
<div class="row">
  <div class="col text-center">
    <div class="row">
      <select
        class="form-control right col ml-3"
        (change)="compare()"
        [(ngModel)]="baseSelect"
        id="base"
      >
        <option [ngValue]="intelValue" selected>Intel</option>
        <option [ngValue]="mp5Value">Mp5</option>
        <option [ngValue]="healBonusValue">Heal bonus</option>
        <option [ngValue]="manaValue">Mana</option>
        <option [ngValue]="criticalStrikeValue">Critical strike</option>
      </select>
      <div class="input-group-append">
        <span class="input-group-text">:</span>
      </div>
      <select
        class="form-control left col mr-3"
        (change)="compare()"
        [(ngModel)]="compareToSelect"
        id="comparison"
      >
        <option [ngValue]="intelValue">Intel</option>
        <option [ngValue]="mp5Value">Mp5</option>
        <option [ngValue]="healBonusValue">Heal bonus</option>
        <option [ngValue]="manaValue">Mana</option>
        <option [ngValue]="criticalStrikeValue">Critical strike</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col text-center">1 : {{ compared | number: "1.0-2" }}</div>
</div>
