<h5>Variables:</h5>
<div class="row mb-3 d-flex h-100">
  <div class="col align-self-center">
    <label>Fight duration:</label>
  </div>
  <div class="col">
    <div class="input-group">
      <input
        class="form-control"
        appNumbersOnly
        [(ngModel)]="time"
        type="text"
        maxlength="3"
        placeholder="Enter Time"
      />
      <div class="input-group-append">
        <span class="input-group-text">seconds</span>
      </div>
    </div>
  </div>
</div>
<div class="row mb-3 d-flex h-100">
  <div class="col align-self-center">
    <label>Maximum mana:</label>
  </div>
  <div class="col">
    <div class="input-group">
      <input
        class="form-control"
        appNumbersOnly
        [ngModel]="profile.maxMana | number: '1.0-0' | remover: ','"
        (ngModelChange)="profile.maxMana = $event"
        type="text"
        maxlength="5"
        placeholder="Enter Mana"
      />
    </div>
  </div>
</div>
<div class="row mb-3 d-flex h-100">
  <div class="col align-self-center">
    <label>Mp5:</label>
  </div>
  <div class="col">
    <div class="input-group">
      <input
        class="form-control"
        appNumbersOnly
        [(ngModel)]="profile.mp5"
        type="text"
        maxlength="3"
        placeholder="Enter Mp5"
      />
    </div>
  </div>
</div>
<div class="row mb-3 d-flex h-100">
  <div class="col align-self-center">
    <label>Heal bonus:</label>
  </div>
  <div class="col">
    <div class="input-group">
      <input
        class="form-control"
        appNumbersOnly
        [(ngModel)]="profile.healBonus"
        type="text"
        maxlength="4"
        placeholder="Enter Heal bonus"
      />
    </div>
  </div>
</div>
<div class="row mb-3 d-flex h-100">
  <div class="col align-self-center">
    <label class="align-center">
      <i
        class="fa fa-question-circle"
        placement="top"
        [ngbTooltip]="criticalRateVariableTooltip"
        tooltipClass="custom-tooltip"
      ></i>
      Critical rate:</label
    >
  </div>
  <div class="col">
    <div class="input-group">
      <input
        appDecimalNumbersOnly
        type="text"
        class="form-control"
        [ngModel]="profile.criticalRate | number: '1.0-2' | remover: ','"
        (ngModelChange)="profile.criticalRate = $event"
        maxlength="5"
        placeholder="Enter Critical chance"
      />
      <div class="input-group-append">
        <span class="input-group-text">%</span>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row mb-3 d-flex h-100">
  <div class="col align-self-center">
    <div class="input-group">
      <div class="input-group-prepend green-bg">
        <button
          placement="top"
          [ngbTooltip]="applyIntelTooltip"
          tooltipClass="custom-tooltip"
          [openDelay]="300"
          class="btn btn-success"
          type="button"
          (click)="addIntel()"
        >
          Apply Intel:
        </button>
      </div>
      <input
        appNumbersOnly
        [(ngModel)]="addIntelNumber"
        type="text"
        class="form-control"
        maxlength="3"
        placeholder="Intel to add"
      />
    </div>
  </div>
</div>
<hr />
<h5>
  <i
    class="fa fa-question-circle"
    placement="top"
    [ngbTooltip]="profileTooltip"
    tooltipClass="custom-tooltip"
  ></i>
  Apply profile:
</h5>
<div class="row">
  <div class="col">
    <button
      placement="top"
      [ngbTooltip]="t0Tooltip"
      tooltipClass="custom-tooltip"
      [openDelay]="300"
      class="btn btn-success mr-1"
      (click)="applyProfile(t0Profile)"
    >
      T0
    </button>
    <button
      placement="top"
      [ngbTooltip]="t1Tooltip"
      tooltipClass="custom-tooltip"
      [openDelay]="300"
      class="btn btn-success mr-1"
      (click)="applyProfile(t1Profile)"
    >
      T1
    </button>
    <button
      placement="top"
      [ngbTooltip]="t2Tooltip"
      tooltipClass="custom-tooltip"
      [openDelay]="300"
      class="btn btn-success mr-1"
      (click)="applyProfile(t2Profile)"
    >
      T2
    </button>
  </div>
</div>
<!-- <hr />
<h5>
  <i
    class="fa fa-question-circle"
    placement="top"
    [ngbTooltip]="modifierTooltip"
  ></i>
  Modifiers:
</h5>
<div class="form-check">
  <input
    type="checkbox"
    [id]="id + '-arcane'"
    [(ngModel)]="arcaneIntelligence"
    class="form-check-input"
  />
  <label class="form-check-label" [for]="id + '-arcane'">
    Arcane Intelligence
  </label>
</div>

<div class="form-check">
  <input
    type="checkbox"
    [id]="id + '-mark'"
    [(ngModel)]="markOfTheWild"
    class="form-check-input"
  />
  <label class="form-check-label" [for]="id + '-mark'">
    Mark of the Wild
  </label>
</div> -->

<hr />
<div class="row">
  <div class="col">
    <input
      type="radio"
      [id]="id + '-healing-wave'"
      [name]="id + '-spell'"
      value="healing-wave"
      [(ngModel)]="spell"
    />
    <label [attr.for]="id + '-healing-wave'"> Healing wave</label><br />
    <input
      type="radio"
      [id]="id + '-chain-heal'"
      [name]="id + '-spell'"
      value="chain-heal"
      [(ngModel)]="spell"
    />
    <label [attr.for]="id + '-chain-heal'"> Chain heal</label><br />
  </div>
</div>
<div class="row">
  <div class="col d-flex justify-content-center">
    <button class="btn-lg btn-primary mt-3 mb-3" (click)="onCompute()">
      Compute score
    </button>
  </div>
</div>
<div class="row">
  <div class="col d-flex justify-content-center">
    <span class="main-result"
      >Healing potential: {{ healingPotential | number: "1.0-0" }}</span
    >
  </div>
</div>
<hr style="border-top: 2px solid;" />
<h5>Detailed results:</h5>
<div class="row">
  <div class="col">
    <span
      >Spells that will be used: {{ highIteration }} * Rank
      {{ firstTooHighRank }} and {{ lowIteration }} * Rank
      {{ firstTooHighRank - 1 }}
    </span>
  </div>
</div>
<div class="row">
  <div class="col">
    <i
      class="fa fa-question-circle"
      placement="top"
      [ngbTooltip]="intelValueTooltip"
      tooltipClass="custom-tooltip"
    ></i>
    Intel value: {{ intelValue | number: "1.1-2" }}
  </div>
</div>
<div class="row">
  <div class="col">
    <i
      class="fa fa-question-circle"
      placement="top"
      [ngbTooltip]="mp5ValueTooltip"
      tooltipClass="custom-tooltip"
    ></i>
    Mp5 value: {{ mp5Value | number: "1.1-2" }}
  </div>
</div>
<div class="row">
  <div class="col">
    <i
      class="fa fa-question-circle"
      placement="top"
      [ngbTooltip]="healBonusValueTooltip"
      tooltipClass="custom-tooltip"
    ></i>
    Heal bonus value: {{ healBonusValue | number: "1.1-2" }}
  </div>
</div>
<div class="row">
  <div class="col">
    <i
      class="fa fa-question-circle"
      placement="top"
      [ngbTooltip]="criticalStrikeValueTooltip"
      tooltipClass="custom-tooltip"
    ></i>
    Critical strike value: {{ criticalStrikeValue | number: "1.1-2" }}
  </div>
</div>
<div class="row">
  <div class="col">
    <i
      class="fa fa-question-circle"
      placement="top"
      [ngbTooltip]="manaValueTooltip"
      tooltipClass="custom-tooltip"
    ></i>
    Mana value: {{ manaValue | number: "1.1-2" }}
  </div>
</div>
<br />
<div class="row">
  <h6 class="col">Relative value:</h6>
</div>
<div class="row">
  <div class="col text-center">
    <div class="row">
      <select
        class="form-control right col ml-3"
        (change)="compare()"
        [(ngModel)]="baseSelect"
        id="base"
      >
        <option [ngValue]="intelValue" selected>Intel</option>
        <option [ngValue]="mp5Value">Mp5</option>
        <option [ngValue]="healBonusValue">Heal bonus</option>
        <option [ngValue]="manaValue">Mana</option>
        <option [ngValue]="criticalStrikeValue">Critical strike</option>
      </select>
      <div class="input-group-append">
        <span class="input-group-text">:</span>
      </div>
      <select
        class="form-control left col mr-3"
        (change)="compare()"
        [(ngModel)]="compareToSelect"
        id="comparison"
      >
        <option [ngValue]="intelValue">Intel</option>
        <option [ngValue]="mp5Value">Mp5</option>
        <option [ngValue]="healBonusValue">Heal bonus</option>
        <option [ngValue]="manaValue">Mana</option>
        <option [ngValue]="criticalStrikeValue">Critical strike</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col text-center">1 : {{ compared | number: "1.0-2" }}</div>
</div>
