<div class="row">
  <div class="col">
    <label>Fight duration [s]:</label>
  </div>
  <div class="col">
    <input class="input-group" appNumbersOnly [(ngModel)]="time" type="text" />
  </div>
</div>
<div class="row">
  <div class="col">
    <label>Maximum mana:</label>
  </div>
  <div class="col">
    <input
      class="input-group"
      appNumbersOnly
      [(ngModel)]="maxMana"
      type="text"
    />
  </div>
</div>
<div class="row">
  <div class="col">
    <label>Mp5:</label>
  </div>
  <div class="col">
    <input class="input-group" appNumbersOnly [(ngModel)]="mp5" type="text" />
  </div>
</div>
<div class="row">
  <div class="col">
    <label>Heal bonus:</label>
  </div>
  <div class="col">
    <input
      class="input-group"
      appNumbersOnly
      [(ngModel)]="healBonus"
      type="text"
    />
  </div>
</div>
<div class="row">
  <div class="col">
    <label>Critical rate [%]:</label>
  </div>
  <div class="col">
    <input
      class="input-group"
      appNumbersOnly
      [(ngModel)]="criticalRate"
      type="text"
    />
  </div>
</div>
<hr />
<div class="row">
  <div class="col">
    <button class="btn-success" (click)="addIntel()">Apply +Intel</button>
  </div>
  <div class="col">
    <input
      class="input-group"
      appNumbersOnly
      [(ngModel)]="addIntelNumber"
      type="number"
      min="0"
      placeholder="Intel to add"
    />
  </div>
</div>
<hr />
<div class="row">
  <div class="col">
    <input
      type="radio"
      [id]="id + '-healing-wave'"
      [name]="id + '-spell'"
      value="healing-wave"
      [(ngModel)]="spell"
    />
    <label [attr.for]="id + '-healing-wave'"> Healing wave</label><br />
    <input
      type="radio"
      [id]="id + '-chain-heal'"
      [name]="id + '-spell'"
      value="chain-heal"
      [(ngModel)]="spell"
    />
    <label [attr.for]="id + '-chain-heal'"> Chain heal</label><br />
  </div>
</div>
<div class="row">
  <div class="col">
    <button class="btn-primary" (click)="onCompute()">Compute score</button>
  </div>
  <div class="col">
    <span>Healing potential: {{ healingPotential | number: "1.1-2" }}</span>
    <br />
    <span
      >Spells that will be used: {{ highIteration }} * Rank
      {{ firstTooHighRank }} and {{ lowIteration }} * Rank
      {{ firstTooHighRank - 1 }}
    </span>
  </div>
</div>
<div class="row">
  <span class="col"></span>
</div>

<div class="row">
  <div class="col">Intel value: {{ intelValue | number: "1.1-2" }}</div>
</div>
<div class="row">
  <div class="col">Mp5 value: {{ mp5Value | number: "1.1-2" }}</div>
</div>
<div class="row">
  <div class="col">
    Heal bonus value: {{ healBonusValue | number: "1.1-2" }}
  </div>
</div>
<div class="row">
  <div class="col">
    Critical strike value: {{ criticalStrikeValue | number: "1.1-2" }}
  </div>
</div>
<div class="row">
  <div class="col">Mana value: {{ manaValue | number: "1.1-2" }}</div>
</div>
<div class="row">
  <label class="col">Relative value:</label>
</div>
<div class="row">
  <div class="col text-center">
    <div class="row">
      <select
        class="form-control col ml-3"
        (change)="compare()"
        [(ngModel)]="baseSelect"
        id="base"
      >
        <option [ngValue]="intelValue" selected>Intel</option>
        <option [ngValue]="mp5Value">Mp5</option>
        <option [ngValue]="healBonusValue">Heal bonus</option>
        <option [ngValue]="manaValue">Mana</option>
        <option [ngValue]="criticalStrikeValue">Critical strike</option>
      </select>
      <div class="input-group-append">
        <span class="input-group-text">:</span>
      </div>
      <select
        class="form-control col mr-3"
        (change)="compare()"
        [(ngModel)]="compareToSelect"
        id="comparison"
      >
        <option [ngValue]="intelValue">Intel</option>
        <option [ngValue]="mp5Value">Mp5</option>
        <option [ngValue]="healBonusValue">Heal bonus</option>
        <option [ngValue]="manaValue">Mana</option>
        <option [ngValue]="criticalStrikeValue">Critical strike</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col text-center">1 : {{ compared | number: "1.0-2" }}</div>
</div>
